apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  namespace: mlapp
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - name: http
      port: 80        # service port (what port-forward svc:local maps to)
      targetPort: 8000  # container port inside pod
      protocol: TCP
